# File: /etc/haproxy/haproxy.cfg
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log /dev/log local0 info alert
    log /dev/log local1 notice alert
    daemon

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 1
    timeout http-request    10s
    timeout queue           20s
    timeout connect         5s
    timeout client          20s
    timeout server          20s
    timeout http-keep-alive 10s
    timeout check           10s

#---------------------------------------------------------------------
# apiserver frontend which proxys to the control plane nodes
#---------------------------------------------------------------------
frontend apiserver
    bind *:{{ api_port }}
    mode tcp
    option tcplog
    default_backend apiserver

#---------------------------------------------------------------------
# round robin balancing for apiserver
#---------------------------------------------------------------------
backend apiserver
    option httpchk GET /healthz
    http-check expect status 200
    mode tcp
    option ssl-hello-chk
    balance     roundrobin
    {% for host in groups['control_panel'] %}
        server {{ host }} {{ network_prefix }}{{ ip_base + loop.index }}:{{ control_panel_port }} check
    {% endfor %}

#---------------------------------------------------------------------
# frontend for ingress controller (apps)
#---------------------------------------------------------------------
frontend ingress-http
    bind *:80
    mode tcp
    option tcplog
    default_backend ingress-http

backend ingress-http
    mode tcp
    balance roundrobin
    {% set start_idx = (groups['control_panel'] | length) + 1 %}
    {% for host in groups['workers'] %}
        server {{ host }} {{ network_prefix }}{{ ip_base + start_idx + loop.index0 }}:{{ ingress_nodeport }} check
    {% endfor %}
